 {{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body>

    <h2>Sign up Faculty</h2>
    <form action="/signupF" method="post">

        <input type="text" name="fname" placeholder="Firstname">
        <br><br>
        <input type="text" name="lname" placeholder="Lastname">
        <br><br>
        <input type="text" name="email" placeholder="Email id">
        <br><br>
        <input type="number" name="phone" placeholder="Phone Number">
        <br><br>
        <input type="text" name="bname" placeholder="Branch name">
        <br><br>
        <input type="text" name="gen" placeholder="Gender">
        <br><br>
        <input type="text" name="uname" placeholder="Username">
        <br><br>
        <input type="password" name="pass" placeholder="Password">
        <br><br>

        {{!-- \\<input type="password" name="password" placeholder="Password"> 
        <input type="text"> 
        <input type="submit">
    </form>    
</body>
</html> --}}

